# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here
print("Mark Du")

Mark Du

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [18]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [21]:
# Write your own code
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")

list_old = ['E']
list_new = [11]

constructor_standings["positionText"] = constructor_standings["positionText"].replace(list_old, list_new)
constructor_standings["positionNumeric"] = pd.to_numeric(constructor_standings["positionText"])

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 13

In [22]:
# Write your own code
races = pd.read_csv("data_raw/races.csv")

bins_x = [1950,1970,1990,2005,2020,1000000]
labels_x = ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"]

races["year_brakets"] = pd.cut(races["year"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

print(races["year_brakets"])

0          2006-2020
1          2006-2020
2          2006-2020
3          2006-2020
4          2006-2020
            ...
1097    2020-onwards
1098    2020-onwards
1099    2020-onwards
1100    2020-onwards
1101    2020-onwards
Name: year_brakets, Length: 1102, dtype: category
Categories (5, object): ['1950-1970' < '1971-1990' < '1991-2005' < '2006-2020' < '2020-onwards']

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [23]:
# Write your own code
constructor_standings.query("raceId == 10")

constructor_standings_agg = (constructor_standings.query("raceId == 10")
               .groupby("constructorId")
               .agg(sum_points = ('points', 'sum')))

constructor_standings_agg.query("sum_points >= 50")

               sum_points
constructorId
9                    98.5
23                  114.0

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [37]:
# Write your own code

constructor_standings_agg = (constructor_standings.groupby("constructorId")
               .agg(sum_points = ("points", "sum"))
               .sort_values("sum_points", ascending = False)
               )

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [20]:
# Write your own code

dict_rename_constructors = { "wins": "wins_constructor" }
races = constructor_standings.rename(columns = dict_rename_constructors)

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [35]:
# Write your own code
constructors = pd.read_csv("data_raw/constructors.csv")
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")


cons_merge = pd.merge(constructor_standings,
                       constructors[["constructorId","nationality"]],
                       on = "constructorId",
                       how = "left")

cons_merge

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,nationality
0,1,18,1,14.0,1,1,1,British
1,2,18,2,8.0,3,3,0,German
2,3,18,3,9.0,2,2,0,British
3,4,18,4,5.0,4,4,0,French
4,5,18,5,2.0,5,5,0,Italian
...,...,...,...,...,...,...,...,...
12936,28408,1098,210,0.0,6,6,0,American
12937,28409,1098,1,0.0,7,7,0,British
12938,28410,1098,131,0.0,8,8,0,German
12939,28411,1098,9,0.0,9,9,0,Austrian
12940,28412,1098,3,0.0,10,10,0,British